
#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  
  text-align: center;
}

.app {
  width: auto;
  min-height: 100vh;
  padding: 1rem;
}

.navbar {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px white;
  border-width: 100%;
}