
#root {
  text-align: center;
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #022031;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.title {  
  font-size: 3rem;
  font-weight: bold;
  color: #D92140;
  margin: 0;
}

.profile {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  border: 1px solid #FFFFFF; 
  padding: 10px;
  background-color: #022031;
  border-radius: 8px; 
  transition: transform 0.3s ease-in-out;
}

.profile:hover {
  transform: scale(1.02);
}

.user-info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  color: #D92140;
}

.username {
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.following-list {
  cursor: pointer;
  text-decoration: underline;
}

.following-list:hover {
  text-decoration: none;
}

.loggedin-home {
  display: flex;
  width: 100%;
}

.content {
  margin-top: 20px;
}