.signup-form-container {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #022031;
}

.signup-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.signup-form .form-group label {
    margin-right: 10px;
    font-weight: bold;
    text-align: left;
    flex: 1;
    color: #FFFFFF;
}

.signup-form .form-group .stances {
    flex-direction: column;
    margin-bottom: 10px;
}

.signup-form .stances select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    color: #FFFFFF;
    background-color: #1a1a1a;
}

.signup-form input,
.signup-form .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 2;
    color: #FFFFFF;
    background-color: #1a1a1a;
}

.signup-form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #1771C5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
    align-self: center;
}