.login-form-container {
    display: flex;
    margin: 2rem;
    justify-content: center;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #022031;
}

.login-form h2 {
    text-align: center;
    color: #D92140;
}

.login-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.login-form .form-group label {
    margin-right: 10px;
    font-weight: bold;
    text-align: left;
    flex: 1;
    color: #FFFFFF;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 2;
    color: #FFFFFF;
    background-color: #1a1a1a;
}

.login-form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #1771C5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
    align-self: center;
}